<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        body {
            background-color: #006A48;
        }
        input {
            width: 20vw;
            height: 4vh;
            font-size: 2.5vh;
            border-radius: 10px;
            border-color: #1E1E1B;
            padding: 0 1vw;
            background-color: #EDEDED;
            border: none;
            cursor: pointer;
        }
        input:focus {
            outline: none;
        }
        p {
            font-size: 3vw;
            color: #EDEDED;;
        }
        .page {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
        }
        .main {
            width: 60vw;
            height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="page">
        <div class="main">
            <p>Sign Up</p><br>
            <form action="/signup" method="post">
                <input type="text" name="name" placeholder="Name"><br><br>
                <input type="password" name="password" placeholder="Password"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>